@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@font-face {
  font-family: "Junicode";
  src: url(./fonts/junicode/Junicode.ttf)
}

@font-face {
  font-family: "Junicode-italic";
  src: url(./fonts/junicode/Junicode-Italic.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
  font-family: "Plus-Jakarta-Sans";
  src: url(./fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}

/*main page*/
body {
    margin: 0;
    background: rgba(37, 37, 37, 1);
}

span {
    color: rgba(247, 111, 83, 1);
}

a {
    margin: 0px 110px 0px 0px;
    font-family: "Bricolage Grotesque";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none; 
    color: rgba(186, 186, 186, 1);
    display: flexbox;
}

h1, h2, h3, p {
    color: white;
}

.btn-primary {
    background: #ff7446;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    gap: 2rem;
}

.btn-1 {
  display: flex;
  border-radius: 10px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  background-color: #ff7446;
  color: white;
  font-family: Bricolage Grotesque;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  gap: 1rem;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-2 {
  display: flex;
  border-radius: 10px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  background-color: rgba(37, 37, 37, 1);
  border: rgba(209, 207, 192, 1) solid;
  color: rgba(186, 186, 186, 1);
  font-family: Bricolage Grotesque;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  gap: 1rem;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*header*/

header {
    width: max-content;
    border-bottom: 2px solid rgba(79, 79, 81, 1);
}

.navbar {
    width: inherit;
    height: 80px;
}

.navbar-menu {
    display: flex;
    height: 80px;
    align-items: center;
    width: inherit;
}

.logo {
    align-items: center;
    margin: 0px 120px 0px 70px;
    font-family: "Bricolage Grotesque";
    color: rgba(237, 237, 237, 1);
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

.nav-buttons {
    width: fit-content;
    display: flex;
    display: flex;
    justify-content: flex-end;
    margin: 0px 
}

.light-dark {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: fit-content;
    margin: 12px 20px 0px 400px;
}

.btn-nav {
  display: flex;
  gap: 1rem;
}

/*hero*/
.hero {
    display: flex;
    justify-content: center;
    padding: 200px 0px 300px;
    gap: 20rem;
    position: unset;
    z-index: 1;
    width: max-content;
    margin: 0px 0px 0px 100px;
}

.hero-text {
 width: fit-content;
}

.hero-img img {
    width: 100%;
    border-radius: 50px;
    display: flex;
    max-height: 344px;
}

.hero-background::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scaleX(1);
  z-index: -1;
  background-image: url(./assets/rectagle19.png);
  background-size: 60%;
  background-position: top 3rem right 47rem;
  background-repeat: no-repeat;
}

.open-project {
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border-width: 1px;
  opacity: 0.43;
  border-radius: 32px;
  border: solid;
  width: fit-content;
  padding: 6px 15px 6px 15px;
  border-color: rgba(79, 79, 81, 1);
}

.open-project h1 {
  margin: 0;
  font-family: Bricolage Grotesque;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.icons {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.get-insights {
  font-family: "Bricolage Grotesque";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}

.fe {
  font-family: "Bricolage Grotesque";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 128px;
  background-image: linear-gradient(to right, white, gray);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 100%;
  letter-spacing: 0%;
}

.hero-desc {
  font-family: Junicode;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  white-space: nowrap;
  width: fit-content;
}

.btn-hero {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

/*contact*/
.contact {
  padding: 80px 60px;
  display: flex;
  gap: 15rem;
  align-items: flex-start;
  justify-content: center;
}

.contact h2 {
  margin: 0;
}

.contact-tittle {
  width: fit-content;
  height: fit-content;
  align-items: center;
}

.contact-us {
  font-family: "Bricolage Grotesque"; 
  font-weight: 400;
  font-size: 48px;
  padding-left: 5rem;
  position: relative;
  left: 0rem;
}

.input-box1 {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  background-color: rgba(79, 79, 81, 1);
  border: none;
  color: white;
  font-family: Bricolage Grotesque;
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
}

.name-cluster {
  gap: 2rem;
  display: flex;
  width: max-content;
  height: max-content;
  position: relative;
}

.name-cluster p {
    display: block;
    width: max-content;
    margin: 0px;
    position: absolute;
}

.input-box1::placeholder, .input-box2::placeholder, .input-box3::placeholder {
  color:white;
}

.input-box3::placeholder {
  position: absolute;
  top: 0.5rem;
}

.email-cluster, .send-cluster{
  display: grid;
  width: fit-content;
}

.send-cluster {
  width: 656px;
}

.name-p {
    display: flex;
    width: fit-content;
}

.name-p-last {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    margin-left: 273px;
}

.name {
    display: flex;
}

.input-box2 {
  width: 644px;
  height: 35px;
  border-radius: 5px;
  background-color: rgba(79, 79, 81, 1);
  border: none;
  color: white;
  font-family: Bricolage Grotesque;
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
}

.input-box3 {
  width: 644px;
  height: 121px;
  border-radius: 5px;
  background-color: rgba(79, 79, 81, 1);
  border: none;
  color: white;
  font-family: "Bricolage Grotesque";
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
}

.send-button {
  border-radius: 10px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  background-color: #ff7446;
  color: white;
  font-family: Bricolage Grotesque;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  gap: 1rem;
  transition: 0.3s;
  display: flex;
  justify-self: right;
  cursor: pointer;
  margin-top: 2rem;
}

.form {
  width: 724px;
  height: 310px;
}

.contact-form {
    display: flexbox;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form textarea {
    grid-column: 1 / -1;
    height: 120px;
    padding: 10px;
}