@font-face {
  font-family: "Junicode";
  src: url("../assets/junicode.regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("../assets/junicode.italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
  width: fit-content;
}

body {
  font-family:
    "Plus Jakarta Sans", "Junicode", "Bricolage Grotesque", sans-serif;
  background-color: #252525;
  margin: 0;
  padding: 0;
}
/*main page*/
body {
  margin: 0;
  background: rgba(37, 37, 37, 1);
}

span {
  color: rgba(247, 111, 83, 1);
}

a {
  margin: 0px 110px 0px 0px;
  font-family: "Bricolage Grotesque";
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  color: rgba(237, 237, 237, 1);
  display: flexbox;
}

h1, h2, h3, p {
  color: white;
}

.btn-primary {
  background: #ff7446;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  gap: 2rem;
}

.btn-1 {
  display: flex;
  border-radius: 10px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  background-color: #ff7446;
  color: white;
  font-family: Bricolage Grotesque;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  gap: 1rem;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-2 {
  display: flex;
  border-radius: 10px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  background-color: rgba(37, 37, 37, 1);
  border: rgba(209, 207, 192, 1) solid;
  color: rgba(186, 186, 186, 1);
  font-family: Bricolage Grotesque;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  gap: 1rem;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/*header*/

header {
  width: max-content;
  border-bottom: 2px solid rgba(79, 79, 81, 1);
}

.navbar {
  width: inherit;
  height: 80px;
}

.navbar-menu {
  display: flex;
  height: 80px;
  align-items: center;
  width: 100%;
  gap: 3rem;
  font-family: Bricolage Grotesque;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

nav a {
  font-family: Bricolage Grotesque;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(186, 186, 186, 1);
  margin-right: 5rem;
}

.logo {
  align-items: center;
  margin: 0px 120px 0px 70px;
  font-family: "Bricolage Grotesque";
  color: rgba(237, 237, 237, 1);
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.nav-buttons {
  width: fit-content;
  display: flex;
  display: flex;
  justify-content: flex-end;
  margin: 0px;
}

.light-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin: 12px 20px 0px 200px;
}

.btn-nav {
  display: flex;
  gap: 1rem;
}

/*hero*/
.hero {
  display: flex;
  justify-content: center;
  padding: 150px 0px 100px;
  gap: 10rem;
  position: unset;
  z-index: 1;
  width: max-content;
  margin: 0px 0px 0px 80px;
  border-bottom: 1px solid #313030;
}

.hero-text {
  width: fit-content;
}

.hero-img img {
  width: 100%;
  border-radius: 50px;
  display: flex;
  height: 24.5rem;
}

.hero-img {
  margin-right: 100px;

}

.hero-background::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scaleX(1);
  z-index: -1;
  background-image: url(./assets/rectagle19.png);
  background-size: 50%;
  background-position: top 3.5rem right 48rem;
  background-repeat: no-repeat;
  padding: 0px;
}

.open-project {
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border-width: 1px;
  opacity: 0.43;
  border-radius: 32px;
  border: solid;
  width: fit-content;
  padding: 6px 15px 6px 15px;
  border-color: rgba(79, 79, 81, 1);
}

.open-project h1 {
  margin: 0;
  font-family: Bricolage Grotesque;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.icons {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.get-insights {
  font-family: "Bricolage Grotesque";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}

.fe {
  font-family: "Bricolage Grotesque";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 128px;
  background-image: linear-gradient(to right, white, gray);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0px;
}

.hero-desc {
  font-family: Junicode;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  white-space: nowrap;
  width: fit-content;
  margin: 0px;
}

.btn-hero {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #313030;
  width: 100%;
  max-width: 1280px;
  height: 633px;
  margin: 0 auto;
  position: relative;
}
.upper2 {
  display: flex;
  position: absolute;
  right: -114px;
  top: -17px;
}
.lower {
  display: flex;
  position: absolute;
  left: -120px;
  bottom: -25px;
  z-index: -1;
}
.tentang {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 8px;
  width: 300;
  height: 32;
  top: 98px;
  left: 489px;
  font-family: "Bricolage Grotesque";
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 34px;
  color: #fff;
}
.itallic {
  font-family: "Junicode";
  font-style: italic;
  font-weight: 400;
  font-size: 48px;
  color: #f76f53;
  line-height: 32px;
}
.info {
  width: 651px;
  top: 164px;
  left: 315px;
  font-family: "Plus Jakarta Sans";
  font-weight: 400px;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 23px;
}
.number-group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 56px;
}
.number-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-style: medium;
  color: #f76f53;
  gap: 0px;
  margin: 0px;
}
.number-info {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  gap: 23px;
}
.more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.border-orange {
  display: inline-flex;
  padding: 12px 16px;
  align-items: center;
  gap: 12px;
  justify-content: center;
  font-family: "Bricolage Grotesque";
  font-style: medium;
  font-size: 20px;
  color: #ffffff;
  width: 185px;
  height: 46px;
  border-radius: 10px;
  border-color: #f76f53;
  border-style: solid;
  background-color: #f76f53;
  cursor: pointer;
}
.border-orange img {
  display: flex;
}
#portfolio {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-bottom: 1px solid #313030;
  width: 100%;
  max-width: 1280px;
  height: 900px;
  width: 100%;
  margin: 0px auto;
}
.title-blend {
  font-family: "Bricolage Grotesque";
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  line-height: 100%;
  color: #ededed;
  gap: 30px;
}
.portfolio-border {
  display: flex;
  align-items: center;
  gap: 18.9px;
}
.border-grey {
  display: inline-flex;
  align-items: center;
  font-family: "Bricolage Grotesque";
  font-weight: 600px;
  font-style: normal;
  font-size: 18px;
  line-height: normal;
  gap: 12px;
  border-radius: 10px;
  border-color: #d1cfc0;
  border-style: solid;
  background: #d1cfc0;
  color: #4f4f51;
  cursor: pointer;
  height: 46px;
  padding: 12px 16px;
}
.border-grey img {
  display: flex;
}
.border-org2 {
  display: inline-flex;
  padding: 12px 16px;
  align-items: center;
  gap: 12px;
  height: 46px;
  justify-content: center;
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
  border-radius: 10px;
  border-color: #f76f53;
  border-style: solid;
  background-color: #f76f53;
  cursor: pointer;
}
.border-orange img {
  display: flex;
}
.list {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  padding: 24px 30px 12px 0;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.portfolio-card {
  flex: 0 0 320px;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  background: transparent;
  margin-top: 0px;
  border-radius: 10px;
}
.card-img {
  width: 346px;
  height: 263.922px;
  object-fit: cover;
  border-radius: 10px;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}
.card-title {
  position: absolute;
  margin: 0;
  font-family: "Bricolage Grotesque";
  font-size: 24px;
  color: #fff;
  font-weight: 600px;
  font-style: bold;
  padding-left: 18.06px;
  bottom: 10px;
  width: 225px;
  height: 28.277px;
}
.portfolio-card2 {
  flex: 0 0 380px;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  background: transparent;
  width: 487px;
  height: 320px;
}
.card-img2 {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}
.card-title2 {
  position: absolute;
  font-family: "Bricolage Grotesque";
  font-size: 24px;
  color: #fff;
  font-weight: 600px;
  font-style: bold;
  padding-left: 18.06px;
  bottom: 20px;
  width: 421px;
}

.testimonial {
  padding: 80px 20px;
  text-align: center;
  border-bottom: 1px solid #313030;
}
.testimonial__title {
  text-align: center;
  font-family: "Bricolage Grotesque";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.testimonial__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.testimonial__card {
  display: flex;
  width: 900px;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
}
.testimonial__left {
  width: 50%;
  background: #BDB8A6;
  padding: 40px;
}
.testimonial__avatar {
  width: 70px;
  margin-bottom: 20px;
}
.testimonial__name {
  text-align: center;
  font-family: "Bricolage Grotesque";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.testimonial__role {
  text-align: center;
  font-family: "Bricolage Grotesque";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.testimonial__right {
  width: 50%;
}
.testimonial__right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial__nav {
  width: 36px;
  height: 36px;
  background: #F76F53;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial__nav img {
  width: 20px;
  height: 20px;
}

/*contact*/
.contact {
  display: flex;
  padding-top: 100px;
  gap: 15rem;
  align-items: flex;
  justify-content: center;
  width: 100% auto;
  height: 581px;
  max-width: 1280px;
  border-bottom: 1px solid #313030;
}

.contact h2 {
  margin: 0;
  padding-left: 0px;
}

.contact-tittle {
  width: fit-content;
  height: fit-content;
  align-items: left;
}

.contact-us {
  font-family: "Bricolage Grotesque";
  font-weight: 400;
  font-size: 48px;
  padding-left: 5rem;
  position: relative;
  left: 0rem;
}

.input-box1 {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  background-color: rgba(79, 79, 81, 1);
  border: none;
  color: white;
  font-family: Bricolage Grotesque;
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
}

.name-cluster {
  gap: 2rem;
  display: flex;
  width: max-content;
  height: max-content;
  position: relative;
}

.name-cluster p {
  display: block;
  width: max-content;
  margin: 0px;
  position: absolute;
}

.input-box1::placeholder,
.input-box2::placeholder,
.input-box3::placeholder {
  color: white;
}

.input-box3::placeholder {
  position: absolute;
  top: 0.5rem;
}

.email-cluster,
.send-cluster {
  display: grid;
  width: fit-content;
}

.send-cluster {
  width: 656px;
}

.name-p {
  display: flex;
  width: fit-content;
}

.name-p-last {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  margin-left: 273px;
}

.name {
  display: flex;
}

.input-box2 {
  width: 644px;
  height: 35px;
  border-radius: 5px;
  background-color: rgba(79, 79, 81, 1);
  border: none;
  color: white;
  font-family: Bricolage Grotesque;
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
}

.input-box3 {
  width: 644px;
  height: 121px;
  border-radius: 5px;
  background-color: rgba(79, 79, 81, 1);
  border: none;
  color: white;
  font-family: "Bricolage Grotesque";
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
}

.send-button {
  border-radius: 10px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  background-color: #ff7446;
  color: white;
  font-family: Bricolage Grotesque;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  gap: 1rem;
  transition: 0.3s;
  display: flex;
  justify-self: right;
  cursor: pointer;
  margin-top: 2rem;
}

.form {
  width: 724px;
  height: 310px;
}

.contact-form {
  display: flexbox;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form textarea {
  grid-column: 1 / -1;
  height: 120px;
  padding: 10px;
}

.accent {
  color: #f76f53;
}

footer a {
  all: unset;
  cursor: pointer;
}

.features-content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1178px;
  width: 100%;
}

#features {
  width: 100%;
  min-height: 600px;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 51px 72px 51px;
  box-sizing: border-box;
  color: #ededed;
  z-index: 100;
  border-bottom: 1px solid #313030;
}

.card-grid,
#more-cards.show {
  display: grid;
  row-gap: 20px;
  column-gap: 40px;
  align-self: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.card-grid {
  margin-bottom: 20px;
}
.service-card {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  border-radius: 10px;
  text-align: center;
  color: #ededed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  position: relative;
  width: 380px;
  height: 245px;
}

.card-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(217, 217, 217, 0.3) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 10px;
}

.card-label {
  position: absolute;
  bottom: 8px;
  left: 25%;
  transform: translateX(-50%);
  color: white;
  margin: 0;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0;
}

#show-more-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #f76f53;
  color: #ffffff;
  border: none;
  padding: 12px 16px;
  margin-top: 36px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

#show-more-btn span {
  color: #fff;
  font-family: "Bricolage Grotesque";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#show-more-btn:hover {
  background-color: #e85d3f;
}

#show-more-btn:active {
  transform: scale(0.98);
}

#more-cards {
  display: none;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.arrow-icon.rotate {
  transform: rotate(180deg);
}

.section-title {
  color: #fff;
  font-family: "Bricolage Grotesque";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

footer {
  width: 100%;
  min-height: 600px;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 50px;
  box-sizing: border-box;
  color: #ededed;
}

footer p,
a {
  font-size: 20px;
  all: unset;
  cursor: pointer;
}
.overview {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 60px;
}

.identity {
  width: 70%;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.pages,
.support {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  padding: 0 0px 0 30px;
}

.pages a,
.identity p,
.support a {
  color: #fff;
  font-family: "Bricolage Grotesque";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.identity img {
  width: 180px;
  height: auto;
}

.social-media {
  padding-top: 40px;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 0px;
}

.social-media h2,
.pages h2,
.support h2 {
  margin: 0px 0px 10px 0px;
  color: #fff;
  font-family: "Bricolage Grotesque";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logos {
  display: flex;
  gap: 12px;
}

.logos img {
  padding-bottom: 20px;
  width: 44px;
  height: 44px;
  aspect-ratio: 1/1;
}

hr {
  width: 100%;
  height: 0.5px;
  background: #ededed;
}

.copyright {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 6px;
  padding-top: 10px;
}

.copyright h2 {
  color: #fff;
  font-family: "Bricolage Grotesque";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
