@font-face {
  font-family: "Junicode";
  src: url(assets/junicode.regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url(assets/junicode.italic.ttf);
  font-style: italic;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #313030;
    width: 100%;
    max-width: 1280px;
    height: 633px;
    margin: 0 auto;
    position: relative;
}
.upper2{
    display: flex;
    position: absolute;
    right: -19px;
    top: 0;
}
.lower{
    display: flex;
    position: absolute;
    left: -19px;
    bottom: -25px;
    z-index: -1;
}
.tentang{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap:8px;
    width: 300;
    height: 32;
    top: 98px;
    left: 489px;
    font-family: "Bricolage Grotesque";
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    color:#FFFFFF;
    margin-bottom: 34px;
    color: #FFF;
}
.itallic{
    font-family: "Junicode";
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    color:#F76F53;
    line-height: 32px;
}
.info{
    width: 651px;
    top: 164px;
    left: 315px;
    font-family: "Plus Jakarta Sans";
    font-weight: 400px;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 23px;
}
.number-group{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 56px;
}
.number-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.number{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-style: medium;
    color:#F76F53;
    gap: 0px;
    margin: 0px;
}
.number-info{
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    gap: 23px;
}
.more{
    display: flex;
    align-items: center;
    justify-content: center;
}
.border-orange{
    display: inline-flex;
    padding: 12px 16px;
    align-items: center;
    gap: 12px;
    justify-content: center;
    font-family: "Bricolage Grotesque";
    font-style: medium;
    font-size: 20px;
    color: #FFFFFF;
    width: 185px;
    height: 46px;
    border-radius: 10px;
    border-color: #F76F53;
    border-style: solid;
    background-color: #F76F53;
    cursor: pointer;
}
.border-orange img{
    display: flex;
}

footer {
  width: 100%;
  min-height: 600px;
  background-color: #28282b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 5%;
  box-sizing: border-box;
  color: #ededed;
}

.footer p,
a {
  font-size: 20px;
}
.overview {
  display: flex;
  flex-direction: row;
}

.identity {
  width: 70%;
  padding-right: 30px;
}
.identity p {
  width: 70%;
}
.pages,
.support {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  padding: 0 0px 0 30px;
}

.social-media {
  padding-top: 40px;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 0px;
}

.social-media h2 {
  margin: 0px 0px 10px 0px;
}
.logos {
  display: flex;
  gap: 12px;
}
.logos img {
  width: 40px;
  padding-bottom: 20px;
}

hr {
  width: 100%;
  height: 0.5px;
  background: #ededed;
}

.copyright {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 6px;
  padding-top: 10px;
}

.copyright h2 {
  font-weight: 400;
}
