@font-face {
  font-family: "Junicode";
  src: url(assets/junicode.regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url(assets/junicode.italic.ttf);
  font-style: italic;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
}

.accent {
  color: #f76f53;
}

footer a {
  all: unset;
  cursor: pointer;
}

.features-content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1178px;
  width: 90%;
}

#features {
  width: 100%;
  min-height: 600px;
  background-color: #28282b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 51px 72px 51px;
  box-sizing: border-box;
  color: #ededed;
  z-index: 100;
}

.card-grid,
#more-cards.show {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  align-self: stretch;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.card-grid {
  margin-bottom: 20px;
}
.service-card {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  color: #ededed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  position: relative;
}

.card-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(217, 217, 217, 0.3) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 10px;
}

.card-label {
  position: absolute;
  bottom: 10px;
  left: 30%;
  transform: translateX(-50%);
  color: white;
  margin: 0;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0;
}

#show-more-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #f76f53;
  color: white;
  border: none;
  padding: 12px 16px;
  margin-top: 36px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

#show-more-btn:hover {
  background-color: #e85d3f;
}

#show-more-btn:active {
  transform: scale(0.98);
}

#more-cards {
  display: none;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.arrow-icon.rotate {
  transform: rotate(180deg);
}

.section-title {
  color: #fff;
  font-family: "Bricolage Grotesque";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer {
  width: 100%;
  min-height: 600px;
  background-color: #28282b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 5%;
  box-sizing: border-box;
  color: #ededed;
}

footer p,
a {
  font-size: 20px;
  all: unset;
  cursor: pointer;
}
.overview {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 60px;
}

.identity {
  width: 70%;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.pages,
.support {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  padding: 0 0px 0 30px;
}

.pages a,
.identity p,
.support a {
  color: #fff;
  font-family: "Bricolage Grotesque";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.identity img {
  width: 180px;
  height: auto;
}

.social-media {
  padding-top: 40px;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 0px;
}

.social-media h2,
.pages h2,
.support h2 {
  margin: 0px 0px 10px 0px;
  color: #fff;
  font-family: "Bricolage Grotesque";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logos {
  display: flex;
  gap: 12px;
}

.logos img {
  padding-bottom: 20px;
  width: 44px;
  height: 44px;
  aspect-ratio: 1/1;
}

hr {
  width: 100%;
  height: 0.5px;
  background: #ededed;
}

.copyright {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 6px;
  padding-top: 10px;
}

.copyright h2 {
  color: #fff;
  font-family: "Bricolage Grotesque";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
